.App {
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Converts default font size to 10px */
  font-size: 62.5%;
  height: 100vh;
}

body {
  background-color: rgb(240, 240, 240);
}

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 5px;
  background-color: lightgray;
}

body::-webkit-scrollbar-thumb
{
  background-color: dimgray;
  border: 0;
}
