/* Add style to header block */
.header {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;
 
  background-color: white;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
  box-shadow: 2px 0px 5px rgba(64,64,64,0.5);
  height: 70px;
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 10;
}

/* Add style to image element */
.image {
  width: 136px;
  height: 55px;
  margin-left: 0;
}

/* Add style to app title */
.appTitle {
  font-family: 'Kanit', sans-serif;
  font-size: 1.4em;
  font-weight: 300;
}


/* Add style to header on small screens */
@media only screen and (max-width: 768px) {

  .header {
    height: 60px;
    width: 100%;

  }

  .image {
    width: 99px;
    height: 40px;
    margin-left: 1%;
  }

  .appTitle {
    font-family: 'Kanit', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
  }
}